html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff8d5;

}


header {
    width: 100%;
    background-color: #f6b8d0 ;
    color:  #fff8d5;
    padding-top: 20px;
    padding-bottom: 20px;
}


header h1 {
    text-align: center;
}

nav {
    position: absolute;
    top: 0px;
    left: 5px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff8d5;
    font-size: 25px;
}

.SectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header h1{
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.TopSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.BottomSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.TopSection div{
    display: flex;
    flex-direction: column;
    flex: 1; /* Makes all child divs equal width */
    height: 400px; /* Sets a fixed height */
    width: 300px;
    text-align: center;
    line-height: 100px; /* Centers text vertically */
    border: 1px solid black; /* Adds a border for visibility */
    margin: 40px;
    margin-top: 5px;
    justify-content: start;
    align-items: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.BottomSection div {
    display: flex;
    flex-direction: column;
    flex: 1; /* Makes all child divs equal width */
    height: 400px; /* Sets a fixed height */
    width: 300px;
    text-align: center;
    line-height: 100px; /* Centers text vertically */
    border: 1px solid black; /* Adds a border for visibility */
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: start;
    align-items: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

